# Ignore data

data/zip/
data/*.tar
data/*.gz
data/*.zip
data/GSE203346_RAW
data/GSE203346_Normalized_log2TPM_matrix.txt
data/*.tsv

# Ignore RStudio junk
.Rhistory
.RData
.Rproj.user/

# Ignore other miscellaneous files
.DS_Store
.tmp.driveupload/

# Ignore large results
*.Rds
*.rds
*.mtx

# Ignore Words docs and other files
*.docx
background/
